<p-table [value]="zones" [paginator]="true" [rows]="4"  [showCurrentPageReport]="true"
[tableStyle]="{ 'min-width': '50rem' }"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
<ng-template pTemplate="header" >
  <tr>
        <th style="width:20%">#</th>
        <th scope="col"> Nom de la zone</th>
        <th style="width:20%"></th>
        <th style="width:20%"></th>
        
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-z let-editing="edidting" let-ri="rowIndex">
      <tr [pEditableRow]="z" >
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="z.id">  
            </ng-template>
            <ng-template pTemplate="output">
                {{z.id}}
            </ng-template>
        </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="z.nom">  
            </ng-template>
            <ng-template pTemplate="output">
                {{z.nom}}
            </ng-template>
        </p-cellEditor>
        </td>
        
        <td><p-button severity="info" icon="pi pi-pencil" [style]="btStyle" [routerLink]="['/zone','edit',z.id]" ></p-button></td>
        <td><p-button severity="danger" icon="pi pi-minus-circle" [style]="btStyle" (click)="deleteZone(z.id)"></p-button></td>
        
     
     </tr>
    </ng-template>
  </p-table>
  <p-button severity="success" [routerLink]="['/zone','add']"  icon="pi pi-plus-circle" [style]="buttonStyle"></p-button>
  