


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webleb</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body style="display:flex; align-items:center; justify-content:center;">
<div class="login-page">
  <div class="form" >
   
    <form class="login-form" method="post" [formGroup]="editProprietaireForm" (ngSubmit)="editProprietaire()">
      <h2><i class="fa-solid fa-pen-to-square"></i> Modifier </h2>
      <div class="col-md-5">
      
        <input type="text" class="form-control" id="prenom" name="prenom" formControlName="prenom" [hidden]="true">
        
      </div>
      <div class="col-md-5">
  
        <input type="text" class="form-control" id="prenom" name="prenom" formControlName="prenom" [hidden]="true">
       
      </div>
      <input type="text" class="form-control" id="cin" name="cin" formControlName="cin" placeholder="CIN">
      <input type="text" class="form-control" id="nom" name="nom" formControlName="nom" placeholder="Nom">
      <input type="text" class="form-control" id="prenom" name="prenom" formControlName="prenom" placeholder="Prenom">
    
        <input type="email" class="form-control" id="email" name="email"  aria-describedby="inputGroupPrepend" formControlName="email" placeholder="Email">
    
      <input type="text" class="form-control" id="adresse" name="adresse" formControlName="adresse" placeholder="Adresse">
      <input type="text" id="telephone" name="telephone" formControlName="telephone" class="form-control" placeholder="Telephone">
     
     <br>
      <button type="submit" name="send2" >Modifier</button>
      
      
    </form>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script >$('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});</script>
</body>
</html>
