
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<div *ngIf="isMenuVisible" >
<nav class="navbar">
  <div class="container">

    <div class="navbar-header">
      <button class="navbar-toggler" data-toggle="open-navbar1">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a href="#" routerLink="user">
        <h4>SG<span>TNB</span></h4>
      </a>
    </div>

    <div class="navbar-menu" id="open-navbar1">
      <ul class="navbar-nav">
        <li class="active"><a routerLink="user">Acceuil</a></li>
        <li class="navbar-dropdown">
          <a href="#" routerLink="arrondissement">
            Arrondissements
          </a>
          
        </li>
        
        <li><a href="#" routerLink="zone">Zones</a></li>
        <li><a href="#" routerLink="rue">Rues</a></li>
        <li><a href="#" routerLink="terrain">Terrains</a></li>
        <li><a href="#" routerLink="proprietaire">Proprietaires</a></li>
        <li><a href="#" routerLink="calcul">Taxe</a></li>
     
       <li> </li>
      </ul>
     
    </div>
    
    <div  >
      <button class="nav-link" (click)='logout()' *ngIf="!norole"><b> <i class="fa-solid fa-arrow-right-from-bracket" style="color:#789461; width:50px;"></i></b></button>
    </div>
  </div>
</nav>
</div>
<router-outlet></router-outlet>




