<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body>
        <div class="header">
          <div class="inner-header flex">
          <h1>Bienvenue sur SGTNB</h1>
          
          </div>
          
       <div class="b" style="margin-top: -1%;">
       <button style="margin-right: 3%;" routerLink='/calcul'>
            Calculer taxe
          </button>
         
          <button routerLink='/auth/login'>
            Se connecter
          </button ></div>
       
          <div>
        
          <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="parallax">
          <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7)" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
          </g>
          </svg>
          </div>
          </div>
          <div class="content flex">
            <div class="footer" style="display: flex; justify-content:center ; align-items: center;height: 100vh;overflow: hidden;"><ul>
                <li>
                  <a class="facebook" href="https://www.web-leb.com/login">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <i class=" fa-brands fa-facebook" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a class="twitter" href="https://www.web-leb.com/login">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <i class="fa-brands fa-twitter" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a class=" instagram" href="https://www.web-leb.com/login">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <i class="fa-brands fa-instagram" aria-hidden="true"></i>
                  </a>
                </li>
              </ul> 
            </div>
          </div>
        </body>
</body>
</html> 
